* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: radial-gradient(circle, #fb3fdc 0%, #46dbfc 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: radial-gradient(circle, #fb3fdc 0%, #46dbfc 100%); */



    .To-do-Main {

        height: 100vh;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background: radial-gradient(circle, #fb3fdc 0%, #46dbfc 100%); */


        .To-do-Container {

            width: 100%;
            max-width: 500px;
            margin: 100px auto 20px;
            padding: 40px 40px 50px 40px;
            background-color: white;
            border-radius: 8px;

            .To-do-Heading {
                text-align: center;
                font-size: 33px;
                font-weight: 800;
                margin-bottom: 20px;
                color: #813ffb;

            }

            .To-do-Input-section {

                width: 90%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                overflow: hidden;
                background-color: #ecebeb;
                border-radius: 25px;
                padding-left: 20px;
                margin-left: 20px;


                .To-do-Input {
                    width: 60%;
                    padding: 10px 15px;
                    font-size: 16px;
                    border: 2px solid #ddd;
                    border-radius: 14px;
                    border: none;
                    outline: none;
                    transition: 0.3s;
                    background-color: #ecebeb;




                }

                .To-do-Add-Button {
                    width: 30%;
                    padding: 10px 15px;
                    font-size: 16px;
                    border: none;
                    border-radius: 25px;
                    background-color: #813ffb;
                    color: white;
                    cursor: pointer;
                    transition: 0.3s;

                }

                .To-do-Add-Button:hover {
                    background-color: #d12de0;
                }




            }

            .To-do-List {

                margin-top: 30px;


                .To-do-Item {
                    list-style: none;
                    padding: 12px 15px;
                    font-size: 18px;
                    user-select: none;
                    cursor: pointer;
                    position: relative;
                    margin-left: 15px;



                }

                .To-do-Item::before {
                    content: '';
                    position: absolute;
                    left: -30px;
                    height: 28px;
                    width: 28px;
                    background-image: url('radio.png');
                    background-size: cover;
                    background-position: center;
                }

                .To-do-Item.Checked {
                    text-decoration: line-through;
                    color: gray;
                }

                .To-do-Item.Checked::before {
                    content: '';
                    position: absolute;
                    left: -27.5px;
                    height: 23px;
                    width: 23px;
                    background-image: url('check (2).png');
                    background-size: cover;
                    background-position: center;
                }

            }



            .To-do-Delete-Button {
                display: flex;
                justify-content: center;
                margin-top: 20px;

                .To-do-Clear-Button {
                    width: 50%;
                    padding: 10px 15px;
                    font-size: 16px;
                    font-weight: 30;
                    border: none;
                    border-radius: 25px;
                    background-color: #ff4d4d;
                    color: white;
                    cursor: pointer;
                    transition: 0.3s;
                }

                .To-do-Clear-Button:hover {
                    background-color: #813ffb;
                }

            }

            .delete-btn {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 20px;
                color: red;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    color: #813ffb;
                }
            }



        }



    }

    

}